body {
    display: grid;
    background-color: linear-gradient(white, white);
    font-family: Arial;
    user-select: none;
}

form {
    text-align: center;
}

input[type="radio"] {
    margin: 16px;
}

.material-storage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
}

.mat-input {
    margin: 12px;
    width: 48px;
}

.mat-pics {
    height: 32px;
    width: 32px;
}

.choice-wrapper {
    display: flex;
    align-items: center;
}

#header {
    text-align: center;
    font-size: 24px;
}

#asc-material-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculated-output {
    text-align: center;
    font-size: 16px;
}